<% provide(:title, "Help")%>
<h1>Help</h1>
<h4>
	If you have any questions, please contact:
</h4>
<h5 >
	Jiangyu Yu: tracyyjy@gmail.com
</h5>
<h5 >
	Bo Yang: byang@cs.ucsb.edu
</h5>
<h5 >
	Runmin Wang: wrmmrwai@gmail.com
</h5>
<h5 >
	Mengyuan Gu: gmy.melissa@gmail.com
</h5>