<div class = "home_background"></div>
	<div class="center hero-unit">
  	  <h1>Welcome to CSSA Information Platform</h1>
  		<p>
    		The place where you can get everything you want
  		</p>

  		<%= link_to "Sign up now", '/signup', class: "btn btn-large btn-primary" %>
	</div>





