<div class="center hero-unit">
  <h1>Welcome to CSSA Information Platform</h1>
  <p>
    The place where you can get everything you want
  </p>

  <%= link_to "Sign up now", '/signup', class: "btn btn-large btn-primary" %>
 
  <ul class="links">
    <li><a href="https://groups.google.com/forum/#!forum/ucsb-cssa">UCSB CSSA GOOGLE GROUP</a></li>
    <li><a href=" http://www.ucsbcssa.org/">UCSB CSSA HOME</a></li>
  </ul>
  
 
</div>



