<div class = "common_background"></div>
<% provide(:title, "All Groups")%>
<h3>All Groups</h3>
<ul class="groups common_area">
	<li>
		Default Group:
		<% @groups.each do |group|%>
	<li>
		<%= group.group_name%>
		<% if group.id > 4%>
		<!-- only none default group can be delete by admin -->
		<%= link_to "delete", group, method: :delete, confirm: "You Sure to Delete" %>
		<% end %>
	</li>
	<%end%>
	</li>
</ul>