<div class = "common_background"></div>

<% if signed_in? %>

<ul class="pagination common_area_pagination">
	<%= will_paginate @feed_items, :container => false, :inner_window => '1', :outer_window => '0', :previous_label => '<<', :next_label => '>>'%>
</ul>

<div class="span8">
	<h3>Feed</h3>
	<div class="common_area_pageinfo">
		<%= page_entries_info @feed_items %>
	</div>
	<div class = "common_area">
		<%= render 'shared/feed'%>
	</div>
</div>
<% else %>
<% end %>
<!--  all microposts -->
