//@import "bootstrap";


html{
  overflow-y: scroll;
}

body{
  padding-top: 60px;
  background-image: url(UCSB-from-air.jpg); 
}

section{
  overflow: auto;
}

texarea{
  resize: vertical;
}

.content{
  height: 630px;
}

.home_background, .center{
  position: absolute;
  width: 800px;
  height: 240px;
  margin-top: 100px;
  margin-left: 60px;
  text-align: center;
}

.home_background{
  background-color: #fff;
  filter:alpha(Opacity=60);-moz-opacity:0.6;opacity: 0.6;
}

.center{
  background-color: transparent;
  h1{
    margin-top: 50px;
    margin-bottom: 10px;
  }
  p{
    margin-bottom: 30px;
  }
}


h1,h2,h3,h4,h5,h6{
  line-height: 1;
}

h1{
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2{
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: normal;
  //color: $grayLight;
}

p{
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo{
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover{
    color: #fff;
    text-decoration: none;
  }
}


.footer{
  padding-top: 10px;
  height: 20px;
  width: auto;  
  background-color: #fff;
  filter:alpha(Opacity=60);-moz-opacity:0.6;opacity: 0.6;
 
}

footer span{
  float: left;
  padding-left: 20px;
}

footer .contact_us, footer .version{
  float: right;
  padding-right: 20px;
}

aside{
  section{
    padding: 10px 0;
    border-top: 1px solid ;//$grayLighter;
    &:first-child{
      border: 0;
      padding-top: 0;
    }
  }
  span{
    display: block;
    margin-bottom: 3px;
    line-height: 1;
  }
  h1{
    font-size: 1.6em;
    text-alogn: left;
    letter-spacing: -1px;
    margin-bottom: 3px;
  }
}

.gravatar{
  float: left;
  margin-right: 10px;
}

input, textarea, select, .uneditable-input{
  border: 1px solid #bbb;
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

#error_explanation{
  color: #f00;
  ul{
    list-style: none;
    magin: 0 0 18 px 0;
  }
}

.fields_with_errors {
  @extend .control-group;
  @extend .error;
}

/* post */





