@import "bootstrap";

html{
  overflow-y: scroll;
}

body{
  padding-top: 60px;
}

section{
  overflow: auto;
}

texarea{
  resize: vertical;
}

.center{
  text-align: center;
}

.center h1{
  margin-bottom: 10px;
}

