@import "bootstrap";


html{
  overflow-y: scroll;
}

body{
  padding-top: 60px;
  background-image: url(UCSB-from-air.jpg); 
}

section{
  overflow: auto;
}

texarea{
  resize: vertical;
}

.content{
  height: 610px;
}

.center{
  text-align: center;
  background-color: transparent;
  h1{
    margin-bottom: 10px;
  }
}


h1,h2,h3,h4,h5,h6{
  line-height: 1;
}

h1{
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2{
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: normal;
  color: $grayLight;
}

p{
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo{
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover{
    color: #fff;
    text-decoration: none;
  }
}


.footer{
  padding-top: 10px;
  height: 30px;
  width: auto;  
  background-color: #fff;
  filter:alpha(Opacity=60);-moz-opacity:0.6;opacity: 0.6;
 
}

footer span{
  float: left;
  padding-left: 20px;
}

footer a{
  float: right;
  padding-right: 20px;
}



