<footer class = "footer">
    <small>
      InfoPlatform V1.0.0 by team6_CS290
    </small>
    <nav>
        <ul>
            <li><%= link_to "Contact Us", '#' %></li>
        </ul>
    </nav>
</footer>
