<footer class = "navbar navbar-fixed-bottom footer">
    
    <span>
    	<li><a href="https://groups.google.com/forum/#!forum/ucsb-cssa">UCSB CSSA GOOGLE GROUP</a></li>
    </span>
    <span>
    	<li><a href=" http://www.ucsbcssa.org/">UCSB CSSA HOME</a></li>
    </span>    
    <span class = "contact_us"> <%= link_to "Contact Us", '#' %></span>  
    <span class = "version">
      InfoPlatform V1.0.0 by team6_CS290
    </span>
   
</footer>
